:root
{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

font-family: 'Red Hat Display', sans-serif;
}
a
{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
img
{
    max-inline-size: 100%;
}
body
{   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background-color: var(--Pale-blue);
    background-image: url("../images/pattern-background-mobile.svg");
    padding: 1.5em;
    background-repeat: repeat-x;
}

.order-card
{
    margin-top: 2em;
    background-color: white;
    border-radius: 25px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2em;    
}

.order-card__ilustration
{
    border-radius: 25px 25px 0 0;
}

.order-card__summary
{
    text-align: center;
    margin: 0 1.5em 1em 1.5em;
    word-wrap: break-word;
}
.order-card__summary > *
{
    margin:0 auto 0 auto;
}

.order-card__header
{
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: .9em;
    color: var(--Dark-blue);
}

.order-card__info
{
    color: var(--Desaturated-blue);
    line-height: 1.5em;
    max-inline-size: 17em;
    margin-bottom: 1.5em;
}


.order-card__subscription-plan
{
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-around;
    color: var(--Desaturated-blue);
    background-color: var(--Very-pale-blue);
    padding: .8em;
    margin-bottom: 1.5em;
    border-radius: .8em;
    font-size: .9em;
    line-height: 1.5em;
}

.order-card__subscription-plan::before
{
    content: url("../images/icon-music.svg");
}

.order-card__subscription-name
{
    font-weight: 900;
    color: var(--Dark-blue);
}

.order-card__subscription-change
{
    font-weight: 600;
    font-size: .9em;
}

.order-card__subscription-price[class~=dolar]::before
{
    content: '$';
}
data[class~=euro]::before
{
    content: '€';
}

.order-card__subscription-period::before
{
    content: '/';
}


.order-card__nav
 {
    display: flex;
    flex-direction: column;
}

.order-card__nav >*
{
   text-decoration: none;
   font-weight: 900;
   font-size: .9em;
   border-radius: .8em;
   padding: 1.3em;

}

.order-card__button-proceed
{
   background-color: var(--Bright-blue);
   color: white;
   box-shadow: 0 10px 20px var(--Pale-blue);
}

.order-card__button-cancel
{
   color: var(--Desaturated-blue);

}

.attribution
{
    font-size: .5rem;
}
.attribution a
{
    font-weight: 700;
    color: var(--Dark-blue);
}



@media screen and (min-width:30em){

    body
{   
    background-image: url("../images/pattern-background-desktop.svg");
}
}